body{
    background:#f9bf00 url(../images/bg_rays_2.png) no-repeat center top scroll;
    background-size: 100% auto;
    /*padding-bottom: 50%;*/

    /*background: -webkit-radial-gradient(top,white);*/
    /*background: url(../images/bg_rays_2.png) no-repeat center top , radial-gradient(at top,ghostwhite,gold,orange);*/
}


.footer {
    background-color:black;
}

.nav {
    background-color:#e60f00;
}

ul.nav-pills {
    margin:0;
    padding:0;
}

.navbar-collapse {
    padding: 0;
    margin:0;
}

.navbar-brand {
    padding:0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: orangered;
    height: 50px;
}


.nav a {
    color: papayawhip;
    text-decoration: none;
}


.navbar-header, .navbar, .navbar-default {
    /*background: inherit;*/
    background-color: #aa0915;
    border:0px;
}

.container-narrow {
    max-width: 730px;
}



.nav {
    background-color: #e60f00;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: orangered;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #aa0915;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color: #fff;
    background-color: #aa0915;
}

.nav a {
    color: papayawhip;
    text-decoration: none;
}

.footer {
    background-color: black;
}

.ribbon1 {
    background: #379500;
    position: absolute;
    margin: 0px 0px 0 0px;
    padding: 10px 20px 6px 20px;
    min-height: 280px;
    ~min-width: 150px;
    color: floralwhite;
}

.ribbon1 img,.ribbon img{
    margin: -29px 0 0 -10px;
    ~min-width: 150px;
	width: 150px;
    ~min-height: 180px;
}

 .ribbon img{
	margin: 0px 0 0 -10px;

 }
.container.with-ribbon {
    padding-top: 50px;
    /*background: #F4F4F4;*/
}

.ribbon {
    background: #008800;
    position: absolute;
    margin: 235px 0px 0 -50px;
    padding: 10px 20px 6px 20px;
    min-height: 100px;
    ~min-width: 250px;
}

.ribbon:before {
    border-left: 52px solid #003300;
    border-top: 43px solid transparent;
    content: "";
    display: block;
    min-height: 43px;
    min-width: 7px;
    right: -52px;
    position: absolute;
    top: 2px;
}

.ribbon1 span, .ribbon span {
    color: floralwhite;
    font-size: 1.3em;
    /*font-family: "Shadows Into Light", cursive;*/
}

.bg-gold {
    background-image: url("./images/bg_gold.png");
}

.bg-red {
    background: #aa0915;
    min-height: 100px;
}

.bg-black {
    background: black;
    min-height: 100px;
    color: floralwhite;
}

.ribbon-menu img {
    position: absolute;
    height: 125px;
    margin-top: 114px;
}

.ribbon-menu img.right {
    margin-left: 345px;
}

.ribbon-menu img.left {
    margin-left: -540px;
}

.dark {
    color: palegoldenrod;
    background-color: black;
    margin:15px;
    padding: 5px;
    font-size: 1.2em;
}

ul.footer-nav-menu {
    color: gray;
    list-style-type: none;
}


footer .bg-black {
    min-height:278px;
}

footer h3, footer h4 {
    color: floralwhite;
}


footer a, footer p {
    color:gray;
}

.logo {
	height:auto;
	width:50%;
}
