body {
    background: #f9bf00 url(../images/bg_rays_2.png) no-repeat center top scroll;
    background-size: 100% auto;
    /*padding-bottom: 50%;*/
}

.footer {
    background-color: black;
}

ul.nav-pills {
    margin: 0;
    padding: 0;
}

.navbar-collapse {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    padding: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #d61920;
    height: 50px;
}

.nav a {
    color: papayawhip;
    text-decoration: none;
}

.navbar-header, .navbar, .navbar-default {
    /*background: inherit;*/
    background-color: #aa0915;
    border: 0px;
}

.container-narrow {
    max-width: 730px;
}

.nav {
    background-color: #d61920;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #d61920;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #aa0915;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color: #fff;
    background-color: #aa0915;
}

.nav a {
    color: papayawhip;
    text-decoration: none;
}

.footer {
    background-color: black;
}

.ribbon1 {
    /*background: #379500;*/
    position: absolute;
    margin: 0px 0px 0 0px;
    padding: 10px 20px 6px 20px;
    min-height: 280px;
~ min-width : 150 px;
    color: floralwhite;

    background-image: -webkit-linear-gradient(top, #00D000 0%, #005800 100%);
    background-image: -o-linear-gradient(top, #00D000 0%, #005800 100%);
    background-image: linear-gradient(to bottom, #00D000 0%, #005800 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00D000', endColorstr='#ff005800', GradientType=0);
    background-color: #379500;
}

.ribbon1 img, .ribbon img {
    margin-top: -35px;
~ min-width : 150 px;
    width: 150px;
~ min-height : 180 px;
}

.ribbon img {
    margin-top: 0px;
}

.container.with-ribbon {
    padding-top: 50px;
}

.ribbon {
    position: absolute;
    margin: 235px 0px 0 -52px;
    padding: 10px 20px 6px 20px;
    min-height: 100px;
    min-width: 190px;

    background-image: -webkit-linear-gradient(top, #00D000 0%, #005800 100%);
    background-image: -o-linear-gradient(top, #00D000 0%, #005800 100%);
    background-image: linear-gradient(to bottom, #00D000 0%, #005800 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00D000', endColorstr='#ff005800', GradientType=0);
    background-color: #008800;
}

.ribbon:before {
    border-left: 52px solid #002800;
    border-top: 43px solid transparent;
    content: "";
    display: block;
    min-height: 43px;
    min-width: 7px;
    right: -52px;
    position: absolute;
    top: 2px;
}

.ribbon1 span, .ribbon span {
    color: floralwhite;
    font-size: 1.3em;
}

.bg-gold {
    background-image: url("./images/bg_gold.png");
}

.bg-red {
    min-height: 100px;
    background-image: -webkit-linear-gradient(top, #F00000 0%, #580000 100%);
    /*background-image: -webkit-linear-gradient(top, #F51909 0%, #8c0c00 100%);*/
    /*background-image: -webkit-linear-gradient(top, #d51909 0%, #8c0c00 100%);*/
    /*background-image: -o-linear-gradient(top, #d51909 0%, #8c0c00 100%);*/
    /*background-image: linear-gradient(to bottom, #d51909 0%, #8c0c00 100%);*/
    /*background-repeat: repeat-x;*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd51909', endColorstr='#ff8c0c00', GradientType=0);*/
    background-color: #aa0915;
}

.bg-black {
    min-height: 100px;
    color: floralwhite;
    /*background: url(../images/bg_rays_2.png) no-repeat center top , radial-gradient(at top,ghostwhite,gold,orange);*/

    /*background: -webkit-radial-gradient(at top, #400000, #004000, black);*/
    /*background: radial-gradient(at top, #004000, #400000,black);*/

    background: -webkit-radial-gradient(at top, #414141, black);
    background: radial-gradient(at top, #414141, black);
}

.ribbon-menu img {
    position: absolute;
    height: 125px;
    margin-top: 114px;
}

.ribbon-menu img.right {
    margin-left: 345px;
}

.ribbon-menu img.left {
    margin-left: -540px;
}

.dark {
    color: palegoldenrod;
    background-color: black;
    margin: 15px;
    padding: 5px;
    font-size: 1.2em;
}

ul.footer-nav-menu {
    color: gray;
    list-style-type: none;
}

footer .bg-black {
    min-height: 278px;
}

footer h3, footer h4 {
    color: floralwhite;
}

footer a, footer p {
    color: gray;
}

.logo {
    height: auto;
    width: 50%;
}

.img-responsive {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-pills {
    background-image: -webkit-linear-gradient(top, #d51909 0%, #8c0c00 100%);
    background-image: -o-linear-gradient(top, #d51909 0%, #8c0c00 100%);
    background-image: linear-gradient(to bottom, #d51909 0%, #8c0c00 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd51909', endColorstr='#ff8c0c00', GradientType=0);
    background-color: black;
}

.nav-pills-red {
    background-image: -webkit-linear-gradient(top, #990000 0%, #770000 100%);
    background-image: -o-linear-gradient(top, #990000 0%, #770000 100%);
    background-image: linear-gradient(to bottom, #990000 0%, #770000 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff990000', endColorstr='#ff770000', GradientType=0);
    background-color: black;

    /*border-top: 1px solid white;*/
    /*border-right: 1px solid palegoldenrod;*/
    /*border-bottom: 1px solid blue;*/
    /*border-left: 1px solid green;*/
}

.nav-pills-green {
    background-image: -webkit-linear-gradient(top, #004400 0%, #009900 100%);
    background-image: -o-linear-gradient(top, #004400 0%, #009900 100%);
    background-image: linear-gradient(to bottom, #004400 0%, #009900 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff004400', endColorstr='#ff009900', GradientType=0);
    background-color: black;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.mast_pika {
    margin: 3% 0 0 -49%;
    position: absolute;
}

.mast_krest {
    margin: 2% 0 0 45%;
    position: absolute;
}

.mast_buben {
    margin: 58% 0 0 35%;
    position: absolute;
}

.mast_cherv {
    margin: 46% 0 0 -49%;
    position: absolute;
}